<div class="container">
  <h2><%= @user.name %>がフォローしているユーザー</h2>
  <% @user.followed_users.each do |followed| %>
      <div class="container-child col-md-2 col-sm-4 col-xs-6 ">
        <%= profile_img(followed) %>
        <p><%= followed.name %></p>
        <%= followed.email %>
      </div>
  <% end %>
</div>

<div class="container">
  <h2><%= @user.name %>のフォロワー</h2>
  <% @user.followers.each do |follower| %>
      <div class="container-child col-md-2 col-sm-4 col-xs-6 ">
        <%= profile_img(follower) %>
        <p><%= follower.name %></p>
        <%= follower.email %>
      </div>
  <% end %>
</div>
